*{
    font-family: calibri;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 142, 169);
    padding-top: 5%;
}

.mae{
    display: grid;
    grid-template-rows: repeat(3,25vh);
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-areas: "h1 h2 h3" "m1 m2 m3" "f1 f2 f3";
}

.h1{
    height: 100%;
    grid-area: h1;
    border-right: 3px solid purple;
    font-size: 200px;
    align-items: center;
    padding-left: 30%;
    color: purple;
    background-color: rgba(255, 255, 255,0.8);
}

.h2{
    height: 100%;
    grid-area: h2;
    border-right: 3px solid purple;
    font-size: 200px;
   
    padding-left: 30%;
    background-color: rgba(255, 255, 255,0.8);
}

.h3{
    height: 100%;
    grid-area: h3;
    font-size: 200px;
  
    padding-left: 30%;
    background-color: rgba(255, 255, 255,0.8);
}

.m1{
    height: 100%;
    grid-area: m1;
    border-top: 3px solid purple;
    border-right: 3px solid purple;
    font-size: 200px;
    align-items: center;
    padding-left: 30%;
    background-color: rgba(255, 255, 255,0.8);
}

.m2{
    height: 100%;
    grid-area: m2;
    border-top: 3px solid purple;
    border-right: 3px solid purple;
    font-size: 200px;
    align-items: center;
    padding-left: 30%;
    color: purple;
    background-color: rgba(255, 255, 255,0.8);
}

.m3{
    height: 100%;
    grid-area: m3;
    border-top: 3px solid purple;
    font-size: 200px;
    align-items: center;
    padding-left: 30%;
    background-color: rgba(255, 255, 255,0.8);
}

.f1{
    height: 100%;
    grid-area: f1;
    border-top: 3px solid purple;
    border-right: 3px solid purple;
    font-size: 200px;
    align-items: center;
    padding-left: 30%;
    background-color: rgba(255, 255, 255,0.8);
}

.f2{
    height: 100%;
    grid-area: f2;
    border-top: 3px solid purple;
    border-right: 3px solid purple;
    font-size: 200px;
    align-items: center;
    padding-left: 30%;
    background-color: rgba(255, 255, 255,0.8);
}

.f3{
    height: 100%;
    grid-area: f3;
    border-top: 3px solid purple;
    font-size: 200px;
    align-items: center;
    padding-left: 30%;
    color: purple;
    background-color: rgba(255, 255, 255,0.8);
}


